
<!-- about -->
<!-- who we are -->
<div class="who-are">
	<div class="container">
		<h3 class="tittle">About</h3>
		<div class="col-md-7 abt-left wow fadeInRight animated" data-wow-delay=".5s">
			<div class="about-img">
				<a href="single.html"><%= image_tag("g1.jpg" ,:class => "img-responsive", :alt => " ") %></a>
			</div>
			<div class="about-img">
				<a href="single.html"><%= image_tag("g2.jpg" ,:class => "img-responsive", :alt => " ") %></a>
			</div>
			<div class="about-img">
				<a href="single.html"><%= image_tag("g4.jpg" ,:class => "img-responsive", :alt => " ") %></a>			
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="col-md-5 abt-right wow fadeInLeft animated" data-wow-delay=".5s">
			<h4>Voluptatem quia voluptas sit </h4>
			<p>Nemo enim ipsam voluptatem quia 
			voluptas sit aspernatur aut odit aut fugit, 
			sed quia consequuntur magni dolores eos qui 
			ratione voluptatem sequi nesciunt. Nemo enim ipsam voluptatem quia 
			voluptas sit aspernatur aut odit aut fugit, 
			sed quia consequuntur magni dolores eos qui 
			ratione voluptatem sequi nesciunt.</p>
			<p>
			Nemo enim ipsam voluptatem quia voluptas
			sit aspernatur aut odit aut fugit, sed quia 
			consequuntur magni dolore.</p>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!-- //who we are -->
<div class="whychoose">
				<div class="container">
					<h3 class="tittle">why choose us</h3>
					<div class="choose-grids">
						<div class="col-md-4 choose-grid wow fadeInRight animated" data-wow-delay=".5s">
						<h4><span class="glyphicon glyphicon-user" aria-hidden="true"></span>Nam aliquam pretium</h4>
						<p>Aenean ac leo eget nunc fringilla fringilla a non nulla! Nunc orci mi, venenatis quis ultrices vitae, congue non nibh. Nulla bibendum justo eget.</p>
						</div>
						<div class="col-md-4 choose-grid wow fadeInRight animated" data-wow-delay=".5s">
						<h4><span class="glyphicon glyphicon-lock" aria-hidden="true"></span>Nam aliquam pretium</h4>
						<p>Aenean ac leo eget nunc fringilla fringilla a non nulla! Nunc orci mi, venenatis quis ultrices vitae, congue non nibh. Nulla bibendum justo eget.</p>
						</div>
						<div class="col-md-4 choose-grid wow fadeInRight animated" data-wow-delay=".5s">
						<h4><span class="glyphicon glyphicon-book" aria-hidden="true"></span>Nam aliquam pretium</h4>
						<p>Aenean ac leo eget nunc fringilla fringilla a non nulla! Nunc orci mi, venenatis quis ultrices vitae, congue non nibh. Nulla bibendum justo eget.</p>
						</div>
						<div class="col-md-4 choose-grid wow fadeInLeft animated" data-wow-delay=".5s">
						<h4><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Nam aliquam pretium</h4>
						<p>Aenean ac leo eget nunc fringilla fringilla a non nulla! Nunc orci mi, venenatis quis ultrices vitae, congue non nibh. Nulla bibendum justo eget.</p>
						</div>
						<div class="col-md-4 choose-grid wow fadeInLeft animated" data-wow-delay=".5s">
						<h4><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>Nam aliquam pretium</h4>
						<p>Aenean ac leo eget nunc fringilla fringilla a non nulla! Nunc orci mi, venenatis quis ultrices vitae, congue non nibh. Nulla bibendum justo eget.</p>
						</div>
						<div class="col-md-4 choose-grid wow fadeInLeft animated" data-wow-delay=".5s">
						<h4><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>Nam aliquam pretium</h4>
						<p>Aenean ac leo eget nunc fringilla fringilla a non nulla! Nunc orci mi, venenatis quis ultrices vitae, congue non nibh. Nulla bibendum justo eget.</p>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
<!-- experts -->
<div class="experts">
	<div class="container">
		<h3 class="tittle">Team</h3>
		<div class="col-md-4 bottom-grid wow fadeInRight animated" data-wow-delay=".5s">
			<div class="btm-right">
				<%= image_tag("team1.jpg", :alt => " ") %>
					<div class="captn">
						<h4>Victoria</h4>
						<a href="#" class="icon_1"></a>
						<a href="#" class="icon_2"></a>
						<a href="#" class="icon_3"></a>
						<a href="#" class="icon_4"></a>		
					</div>
			</div>
		</div>
		<div class="col-md-4 bottom-grid wow fadeInDown animated" data-wow-delay=".5s">
			<div class="btm-right">
				<%= image_tag("team2.jpg", :alt => " ") %>
					<div class="captn">
						<h4>William</h4>
						<a href="#" class="icon_1"></a>
						<a href="#" class="icon_2"></a>
						<a href="#" class="icon_3"></a>
						<a href="#" class="icon_4"></a>		
					</div>
			</div>
		</div>
		<div class="col-md-4 bottom-grid wow fadeInLeft animated" data-wow-delay=".5s">
			<div class="btm-right">
				<%= image_tag("team4.jpg", :alt => " ") %>
					<div class="captn">
						<h4>Federica</h4>
						<a href="#" class="icon_1"></a>
						<a href="#" class="icon_2"></a>
						<a href="#" class="icon_3"></a>
						<a href="#" class="icon_4"></a>		
					</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!-- //experts -->
<!-- //about -->
<!-- contact -->
<div class="contact">
	<div class="container">
		<div class="col-md-4 contact-left wow fadeInRight animated" data-wow-delay=".5s">
			<h3>Address</h3>
			<h2>Ultimate</h2>
			<p>Diamond street,<br>
			260-14 City, Country<br>
			+62 000-0000-00</p>
			<ul>
				<li>Monday - Friday</li>
				<li>Saturday</li>
				<li>Sunday</li>
			</ul>
			<ul>
				<li>8:00 am - 11:00 pm</li>
				<li>10:00 am - 7:00 pm</li>
				<li>10:00 am - 7:00 pm</li>
			</ul>
			<div class="clearfix"></div>
		</div>
		<div class="col-md-4 contact-left wow fadeInUp animated" data-wow-delay=".5s">
			<h3>Links</h3>
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="about.html">About</a></li>
				<li><a href="shortcodes.html">Shortcodes</a></li>
				<li><a href="news.html">News</a></li>
				<li><a href="contact.html">Contact</a></li>
			</ul>
			
		</div>
		<div class="col-md-4 contact-left footer-bottom wow fadeInLeft animated" data-wow-delay=".5s">
			<h3>Signup for Newsletter</h3>
			<form>
					<input type="text" value="Enter your email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter your email';}" required="">
					<input type="submit" value=" ">
			</form>
			<a href="#"><span>Facebook</span></a>
			<a href="#"><span>Pinterest</span></a>
			<a href="#"><span>LinkedIn </span></a>
			<a href="#"><span>Behance</span></a>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<div class="footer wow fadeInDown animated" data-wow-delay=".5s">
	<div class="container">
		<p> &copy; 2016 Ultimate. All Rights Reserved | Design by  <a href="http://w3layouts.com/"> W3layouts</a></p>
	</div>
</div>
<!-- //contact -->
<!-- for bootstrap working -->
	<script src="js/bootstrap.js"></script>
<!-- //for bootstrap working -->
<!-- smooth scrolling -->
	<script type="text/javascript">
		$(document).ready(function() {
		/*
			var defaults = {
			containerID: 'toTop', // fading element id
			containerHoverID: 'toTopHover', // fading element hover id
			scrollSpeed: 1200,
			easingType: 'linear' 
			};
		*/								
		$().UItoTop({ easingType: 'easeOutQuart' });
		});
	</script>
	<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- //smooth scrolling -->