<!DOCTYPE html>
<html>
  <head>
    <title>Penzi</title>
    <%= csrf_meta_tags %>
 <!--  included stylesheets -->
    <%= stylesheet_link_tag   'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'animate.css' %>
    <%= stylesheet_link_tag 'component.css' %>
    <%= stylesheet_link_tag 'hover_pack.css' %>
    <%= stylesheet_link_tag 'style.css' %>

 <!-- included js external sheets -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'hover_pack.js' %>
    <%= javascript_include_tag 'easing.js' %>
    <%= javascript_include_tag 'wow.min.js' %>
    <%= javascript_include_tag 'move-top.js' %>

    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
	function hideURLbar(){ window.scrollTo(0,1); } </script>

		<script type="text/javascript">
					jQuery(document).ready(function($) {
						$(".scroll").click(function(event){		
							event.preventDefault();
							$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
						});
					});
				</script>
  </head>

  <body>
  <!-- banner -->

	<div class="container">
		<div class="header-nav wow fadeInDown animated" data-wow-delay=".5s">
						<nav class="navbar navbar-default">
							<!-- Brand and toggle get grouped for better mobile display -->
							<div class="navbar-header logo">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
								<h1>
									<a class="navbar-brand link link--yaku" href="index.html"><span>U</span><span>l</span><span>t</span><span>i</span><span>m</span><span>a</span><span>t</span><span>e</span></a>
								</h1>
								
							</div>
							<!-- Collect the nav links, forms, and other content for toggling -->
							<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
								<nav class="cl-effect-1">
									<ul class="nav navbar-nav ">
									  <li><%= link_to "Home", root_path ,:class => "hvr-overline-from-left button2 active" %></li>
										<li><%= link_to "About", about_about_path ,:class => "hvr-overline-from-left button2" %></li>
										<li><%= link_to "Short Codes", root_path ,:class => "hvr-overline-from-left button2" %></li>
										<li><%= link_to "Gallery", gallery_gallery_path ,:class => "hvr-overline-from-left button2" %></li>
										<li><%= link_to "News", news_news_path ,:class => "hvr-overline-from-left button2" %></li>
										<li><%= link_to "Contact", contact_contact_path ,:class => "hvr-overline-from-left button2" %></li>
									</ul>
								</nav>
							</div><!-- /navbar-collapse -->
						</nav>
		</div>
	</div>
    <%= yield %>
  </body>
</html>
